.table {
    .cellWrapper {
      display: flex;
      align-items: center;
  
      .image {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: 10px;
        object-fit: cover;
      }
    }
  
    .status {
      padding: 5px;
      border-radius: 5px;
  
      &.A {
        color: #0088FE;
        background-color: rgba(0, 128, 0, 0.151);
      }
      &.C {
        color: #00C49F;
        background-color: rgba(189, 189, 3, 0.103);
      }
      &.D {
        color: #FFBB28;
        background-color: rgba(189, 189, 3, 0.103);
      }
      &.E {
        color: #FF0000;
        background-color: rgba(189, 189, 3, 0.103);
      }
      &.L {
        color: #FF8042;
        background-color: rgba(189, 189, 3, 0.103);
      }
      &.N {
        color: #8884d8;
        background-color: rgba(189, 189, 3, 0.103);
      }
      &.P {
        color: #00C49F;
        background-color: rgba(189, 189, 3, 0.103);
      }
    }
  }