.datatable{
    height: 600px;
    padding: 20px;
    .datatableTitle{
        width: 100%;
        font-size: 24px;
        color: gray;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        .deleteAction{
          display: inline;
          text-decoration: none;
          color: red;
          font-size: 16px;
          font-weight: 400;
          border: 1px solid red;
          padding: 5px;
          border-radius: 5px;
          cursor: pointer;
          margin-right: 15px;
          .deleteIcon{
            position: relative;
            top: 5px;
            color: red;
          }
        }
        .link{
          text-decoration: none;
          color: green;
          font-size: 16px;
          font-weight: 400;
          border: 1px solid green;
          padding: 5px;
          border-radius: 5px;
          cursor: pointer;
          .addIcon{
            position: relative;
            color: green;
            top:6px;
          }
        }
      }
    
      .cellWithImg {
        display: flex;
        align-items: center;
    
        .cellImg {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
          margin-right: 20px;
        }
      }
    .cellAction {
        display: flex;
        align-items: center;
        gap: 15px;
    
        .view{
            padding: 2px 5px;
            border-radius: 5px;
            color: darkblue;
            border: 1px dotted rgba(0,0, 139, 0.598);
            cursor: pointer;
        }
        .delete{
            padding: 2px 5px;
            border-radius: 5px;
            color: crimson;
            border: 1px dotted rgba(220,0, 60, 0.598);
            cursor: pointer;
        }
    }
    .loader {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  }
}

